.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Montserrat', sans-serif;
    
}

input[type=text] {
    width: 80%;
    outline: none;    
    border: none;
    padding:20px;
    background-color:#444054;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;

  }



input[type=button]{
    width: 80%;
    border: none;
    padding:20px;
    background-color:#444054;
    font-family: 'Montserrat', sans-serif;
    color:white;
   
}

.readornot{
    padding:20px;
    background-color:#444054;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.sidebar {
    background-color: #444054;
    color:white;
    padding :20px;
    width: auto;
    height:100%;
   
}

.center {
    color:black;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(5, 250px);
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
   
      }
   
.card
{
    border:2px solid black;
    border-radius: 5px;
    padding :20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);   
}